[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysmartthings = "*"
rich = "*"
homeassistant = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"
